/* VARIABLES */

:root {
  --main-color-light: #ffffff;
  --main-color-dark: #303030;
  --accent-color: #ff6c00;

  --color-text-light: #9da4bd;
  --color-text-dark: #555555;
  --color-text-transparent: rgba(157, 164, 189, 0.6);

  --background-color-light: #f7f7f7;
  --background-color-dark: #191c26;
}

/* GLOBAL */

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--main-color-dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* COMMON */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding: 130px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* COMPONENT */

.modal-button {
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  padding: 12px 20px;
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--accent-color);
}

.modal-button-light {
  color: var(--main-color-light);
}

.modal-button-dark {
  color: var(--main-color-dark);
}

.modal-button-dark:hover,
.modal-button-dark:focus {
  color: var(--main-color-light);
}

.section-subtitle {
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.section-subtitle-light {
  color: var(--color-text-transparent);
}

.section-subtitle-white {
  color: var(--main-color-light);
}

.section-subtitle-dark {
  color: var(--main-color-dark);
}

.section-title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.section-title-dark {
  color: var(--main-color-dark);
}

.section-title-light {
  color: var(--main-color-light);
}

.section-text {
  font-size: 18px;
  line-height: 1.67;
}

.section-text-dark {
  color: var(--color-text-dark);
}

.section-text-light {
  color: var(--color-text-light);
}

/* HEADER */

.header {
  background-color: var(--background-color-dark);
}

.header-container {
  display: flex;
  align-items: center;
  padding: 32px 0;
}

.menu {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 71px;
}

.menu-list {
  display: flex;
}

.menu-list-item:not(:last-child) {
  margin-right: 40px;
}

.menu-list-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-color-light);
  display: block;
  padding: 20px 0;
}

.social-list-link {
  font-weight: 600;
  letter-spacing: 0.2em;
  color: inherit;
}

.contact-link-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-color-light);
  margin-left: auto;
  margin-right: 40px;
  display: block;
  padding: 20px 0;
}

.menu-list-link:hover,
.social-list-link:hover,
.contact-link-tel:hover,
.menu-list-link:focus,
.social-list-link:focus,
.contact-link-tel:focus {
  color: var(--accent-color);
}

/* HERO */

.hero-section {
  padding: 0;
}

.hero-container {
  display: flex;
}

.left-hero-content {
  width: 100px;
}

.right-hero-content-container {
  background-color: var(--background-color-dark);
  flex-grow: 1;
}

.hero-section-title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-color-light);
}

/* ABOUT */

.about-section-text-description {
  font-size: 14px;
  line-height: 1.86;
  color: var(--color-text-dark);
}

/* PRICE */

.price-section {
  background-color: var(--background-color-dark);
}

.price-section-list-item-text {
  font-size: 18px;
  line-height: 1.67;
  color: var(--color-text-light);
}

/* ADVANTAGES */

.advantages-section-list-number {
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.05em;
}

.advantages-section-list-text {
  font-weight: 600;
}

/* TEAM */

.team-section {
  background-color: var(--background-color-light);
}

.team-section-text-container {
  text-align: center;
}

.team-section-list-title {
  font-size: 18px;
  line-height: 1.39;
}

.team-section-list-text {
  font-size: 14px;
  color: var(--accent-color);
}

/* GALLERY */

/* FEEDBACK */

.feedback-section {
  background-color: var(--background-color-dark);
}

/* CONTACTS */

.contacts-section {
  background-color: var(--background-color-dark);
}

.adress-list-link {
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  color: var(--color-text-light);
}

.adress-list-link:hover,
.adress-list-link:focus {
  color: var(--accent-color);
}

/* FOOTER */

.footer-copyright {
  font-weight: 600;
  letter-spacing: 0.2em;
  color: var(--color-text-light);
}
